<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "normalize", "all", "syntax" %>
    <%= javascript_include_tag  "all" %>
    <link href='http://fonts.googleapis.com/css?family=Ledger' rel='stylesheet' type='text/css'>
  </head>

  <body class="<%= page_classes %>">
    <header id="header">
      <div class="inner">
        <a id="brand" href="/">
          paperboy-all.github.io
        </a>
        <a id="pepapon-tab" href="http://www.paperboy.co.jp/" target="_blank">
          paperboy&amp;co.
        </a>
      </div>
    </header>
    <div id="contents">
      <div class="inner">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
